@media (max-width: 575.98px) {
    .HideOnMobile {
        display: none;
    }
    .ShowOnMobile {
        display: initial;
    }
}

@media (max-width: 575.98px) {
    .HideOnMobile {
        display: initial;
    }
    .ShowOnMobile {
        display: none;
    }
}